{% extends "index.html" %}

{% block head %}

<title>Информация об игре</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">

{%endblock%}

{%block body%}
<div class="game-title">
    <img class="game-logo" 
        src="{{ url_for('static', filename='img/' + game.logo if game.logo
                    is not none else 'img/default_game.jpg')}}"
                    alt="Ошибка загрузки">
    <h1 class="">{{game.title}}</h1>
    
</div>
<div class="game-info">
    <div class="game-developer">Разработчик : {{game.developer}}</div>

    
    <div class="average-rate">
        Средняя оценка
        <div class="rate-value">{{average}}</div>
    </div>
</div>

<div class="reviews">
    <h4>Отзывы</h4>
    <ul>
        {%for item in reviews%}
            <li class="review">
                <div>{{item.user.login}}:</div>
                <div>Оценка: {{item.rate | int}}</div>
                <article>{{item.content}}</article>
            </li>
            {% if current_user.is_authenticated and (current_user.login == item.user.login 
                or current_user.rank in ("Админ", "Модератор")) %}
            <a class="btn btn-primary" href="/edit_review/{{item.id}}">Редактировать</a>
            <a class="btn btn-danger" href="/delete_review/{{item.id}}">Удалить</a>
            {%endif%}
        {%endfor%}
    </ul>
</div>


{% if current_user.is_authenticated %}
    <h3>Оставьте свой отзыв!</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="field">
            {{ form.content.label }}<br>
            {{ form.content(class="form-control", type="string") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        
        <div class="rating rating_set">
            <div class="rating_body">
                <div class="rating_active"></div>
                <div class="rating_items">
                    <input type="radio" class="rating_item" value="1" name="rate">
                    <input type="radio" class="rating_item" value="2" name="rate">
                    <input type="radio" class="rating_item" value="3" name="rate">
                    <input type="radio" class="rating_item" value="4" name="rate">
                    <input type="radio" class="rating_item" value="5" name="rate">
                </div>
            </div>
            <div class="rating_value">0</div>
        </div>
        {% for error in form.rate.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </form>
{%endif%}

<script src="{{ url_for('static', filename='js/rating.js') }}"></script>

{%endblock%}
