{% extends "index.html" %}

{% block head %}

<title>Информация об игре</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}">

{%endblock%}

{%block body%}
<h3>{{game.title}}</h3>

<div>Информация : {{game.developer}}</div>

<div class="reviews">
    <h4>Отзывы</h4>
    <ul>
        {%for item in reviews%}
            <li class="review">
                <div>{{item.user.login}}:</div>
                <article>{{item.content}}</article>
            </li>
        {%endfor%}
    </ul>
</div>


{% if current_user.is_authenticated %}
    <h3>Оставьте свой отзыв!</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="field">
            {{ form.rate.label }}<br>
            {{ form.rate(class="form-control", type="float") }}<br>
            {% for error in form.rate.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="field">
            {{ form.content.label }}<br>
            {{ form.content(class="form-control", type="string") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        
        <div class="rating rating_set">
            <div class="rating_body">
                <div class="rating_active"></div>
                <div class="rating_items">
                    <input type="radio" class="rating_item" value="1" name="rating">
                    <input type="radio" class="rating_item" value="2" name="rating">
                    <input type="radio" class="rating_item" value="3" name="rating">
                    <input type="radio" class="rating_item" value="4" name="rating">
                    <input type="radio" class="rating_item" value="5" name="rating">
                </div>
            </div>
            <div class="rating_value">3.6</div>
        </div>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </form>
{%endif%}

<script src="{{ url_for('static', filename='js/rating.js') }}"></script>

{%endblock%}
