{% extends "index.html" %}

{% block head %}

<title>Информация о сайте</title>
<style>
    .main-content{
        width: 80%;
        margin: auto;
    }
    article{
        font-size: 18px;
    }
</style>
{%endblock%}

{%block body%}
    <section class="main-content">
        <h1>Информация о сайте</h1>

        <article>
            На этом сайте вы можете читать игровые новости, оставлять свои отзывы и читать <br>
            отзывы других людей. Сайт создан для импортозамещения западных аналогов. <br>
            <br>
            Это сайт создан для проекта яндекс лицей Ануфриевым Иваном
        </article>
    </section>
{%endblock%}
