{% extends "index.html" %}

{%block head%}
<title>Вход</title>
<style>
    h1{
        text-align: center;
        vertical-align: middle;
        padding-top: 24px;
    }
    .login{
        width: 50%;
        margin: auto;
    }
</style>
{%endblock%}

{% block body %}
    <section class="login">
    <h1>Авторизация</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p class="field">
            {{ form.login.label }}<br>
            {{ form.login(class="form-control", type="string") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="field">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
    <a class="btn btn-info" href="/register" class="register">Нет аккаунта? Регистрация</a>
    </section>
{% endblock %}