{% extends "index.html" %}

{%block head%}
<title>Вход</title>
{%endblock%}

{% block body %}
    <h1>Авторизация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="field">
            {{ form.login.label }}<br>
            {{ form.login(class="form-control", type="string") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p class="field">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
    <a href="/register" class="register">Нет аккаунта? Регистрация</a>
{% endblock %}