{% extends "index.html" %}

{% block head %}

<title>Игровые новости</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
{%endblock%}

{%block body%}

<section class="main-content">
    <div class="content-header">
    <h1 class="title">Все новости</h1>
    {% if current_user.is_authenticated %}
    <a href="/add_news" class="add-btn">Добавить новость</a>
{%endif%}
</div>
{% for item in news %}
    <div class="content-item">
        <a href="/news/{{item.id}}" class="item-body" aria-label="{{item.title}}">
            <div class="item-tumbnail">
                <!-- <span> -->
                    <img src="" alt="{{item.title}}" class="item-image">
                <!-- </span> -->
            </div>
            <div class="item-details">
                <h2 class="item-title">{{item.title}}</h2>
                <div class="item-subtitle">
                <div class="item-more-data">{{item.user.login}}</div>
                <span class="item-date">22.04.2023</span>
            </div>
            </div>
        </a>
    </div>
{%endfor%}
</section>


{%endblock%}
